.board {
  margin-top: 13vh;
  flex-grow: 12;
  width: 80vw;
  height: 86vh;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  flex-direction: column;
  align-content: space-between;
  background-color: rgba(112, 166, 200, 0.2);
}
