.navbar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0f3664;
}
.container {
  align-items: center;
  width: 100vw;
}

.nav-elements {
  display: block;
  align-items: center;
  font-weight: 300;
  font-size: 20px;
}


.nav-elements-main {
  float: left;
  display: flex;
  align-items: center;
} 

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li{
  display: flex;
  align-items: center;
  margin-right: 60px;
  color: #70a6c8;
  text-decoration: none;
  cursor: pointer;
}

.nav-elements ul a {
  color: #70a6c8;
  text-decoration: none;
}
